<?xml version='1.0' encoding='utf-8'?>
<Server port="@PORT@" shutdown="SHUTDOWN">

  <!-- Comment these entries out to disable JMX MBeans support used for the 
       administration web application -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" />
  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.storeconfig.StoreConfigLifecycleListener"/>

  <!-- Global JNDI resources -->
  <GlobalNamingResources>

    <!-- Editable user database that can also be used by
         UserDatabaseRealm to authenticate users -->
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
       description="User database that can be updated and saved"
           factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
          pathname="conf/tomcat-users.xml" />

  </GlobalNamingResources>
  
  <!-- Define the Tomcat Stand-Alone Service -->
  <Service name="Catalina">

    <!-- Define a non-SSL HTTP/1.1 Connector on port 80 -->
<!--
    <Connector port="8080" maxHttpHeaderSize="8192"
               maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
               enableLookups="false" redirectPort="8443" acceptCount="100"
               connectionTimeout="20000" disableUploadTimeout="true" />
-->

    <!-- Define a SSL HTTP/1.1 Connector on port 8443 -->
<!--
    <Connector port="8443" maxHttpHeaderSize="8192"
               maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
               enableLookups="false" disableUploadTimeout="true"
               acceptCount="100" scheme="https" secure="true"
               clientAuth="false" sslProtocol="TLS" />
-->

    <!-- Define an AJP 1.3 Connector on port @JK_PORT@ -->
    <Connector port="@JK_PORT@" enableLookups="false" redirectPort="8443" protocol="AJP/1.3" />

    <!-- Define the top level container in our container hierarchy -->
    <Engine name="Catalina" defaultHost="@HOST_NAME@">

      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase"/>
 
      <Host name="@HOST_NAME@" appBase="/not-used"
            unpackWARs="true" autoDeploy="true"
            xmlValidation="false" xmlNamespaceAware="false">
        <Context path="" docBase="/opt/@HOST_NAME@/website/current">
<!--
          <Resource name="environment" auth="Container" type="org.jcatapult.environment.Environment"
                    factory="org.apache.naming.factory.BeanFactory" environment="production"/>
          <Resource name="jdbc/@HOST_NAME@" auth="Container" type="javax.sql.DataSource"
                    maxActive="20" validationQuery="select 1" 
                    username="dev" password="dev" driverClassName="com.mysql.jdbc.Driver"
                    url="jdbc:mysql://localhost:3306/@HOST_NAME_UNDERSCORES@?relaxAutoCommit=true&amp;characterEncoding=utf8"/>
-->
        </Context>
      </Host>

    </Engine>

  </Service>

</Server>
